/* 全局字体 */
body {
  font-family: "Times New Roman", Times, serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* 容器布局 */
.container {
  display: flex;
  margin: 20px;
}

/* 左侧菜单栏 */
.sidebar {
  width: 150px; /* 缩小左侧栏的宽度 */
  background-color: #f8f8f8;
  padding: 20px;
  border-right: 2px solid #ddd;
}


.menu ul {
  list-style-type: none;
  padding: 0;
}

.menu li {
  margin-bottom: 15px;
}

/* 左侧菜单项 */
.menu a {
  text-decoration: none;
  color: #000;
  font-size: 16px; /* 可以调整字体大小 */
  font-weight: bold;
  padding: 8px 0; /* 增加菜单项的上下间距 */
}

.menu a:hover {
  text-decoration: underline;
}


/* 右侧主要内容区域 */
.main-content {
  flex: 1;
  padding-left: 30px;
}

h2, h1 {
  color: #333;
}

section {
  margin-bottom: 40px;
}

/* 个人信息部分 */
.profile-info {
  display: flex;
  align-items: center;
}

.profile-img {
  width: 250px; /* 保持适当的比例 */
  height: auto;
  margin-right: 20px;
  border: 2px solid #ddd;
}

.info p {
  font-size: 1.2em;
  margin: 5px 0;
}

.info a {
  color: #007bff;
  text-decoration: none;
}

.info a:hover {
  text-decoration: underline;
}
